PORT=5000
MONGO_URI=mongodb+srv://kiranmaivendi_db_user:Kiranmai@123@cluster0.6a3y0re.mongodb.net/?appName=Cluster0
JWT_SECRET=YOUR_JWT_SECRET_HERE
OPENAI_API_KEY=YOUR_OPENAI_API_KEY_HERE
NODE_ENV=development
